:root {
	--sidebar-height: 100px;
}

.easy-button-container {
	margin-top: calc(var(--sidebar-height) + 30px) !important;
}

.btn-group {
	padding-top: 1px;
}
.tooltip {
	z-index: 2000 !important;
	}

.popover {
	z-index: 2000;
}

.tooltip-inner {
	max-width: 600px;
	text-align: left;
}

.airport-icon {
	color:#4a4a4a;
}

/* Image overlay */

.text {
    color: white;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.container {
    position: relative;
    width: 50%;
    float: left;
}

.icon-container {
    position: relative;
    width: 50%;
    float: right;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.icon-container:hover .overlay {
    opacity: 1;
}