.leaflet-control-bar-bottom.leaflet-control-bar {
    height: 60px;
}

.ts-lbl {
    font: 400 12px Arial;
    color: #888;
    display: block;
    margin: 10px 0;
}

.ts-lbl-left {
    float: left;
}

.ts-lbl-right {
    float: right;
}

.ts-lbl:before {
    content: "Value: ";
    font: 700 12px Arial;
}